<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaseControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BaseControls.Properties.Settings>
            <setting name="Font_GlassButton" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_VistaButton" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_SkinButton" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_SplitButton" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_CrystalButton" serializeAs="String">
                <value>Arial Black, 15.75pt</value>
            </setting>
            <setting name="Font_MyDataGridView" serializeAs="String">
                <value>宋体, 12pt</value>
            </setting>
            <setting name="Font_RichTextBoxEx" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_userTextBox" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_XTextBox" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_MyLabel" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Font_MyTreeView" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="ForeColor_RichTextBoxEx" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForeColor_userTextBox" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForeColor_XTextBox" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForeColor_MyLabel" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForeColor_MyTreeView" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForeColor_VistaButton" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForeColor_MyDataGridView" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ImageCtl_Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ImageCtl_PenWidth" serializeAs="String">
                <value>1</value>
            </setting>
        </BaseControls.Properties.Settings>
    </userSettings>
</configuration>